<h1>{{title}}</h1>
<!-- <h2>this is {{name}}</h2> -->
<!-- to import other components in this main component we can done in three ways
1.  -->
<!-- <app-student></app-student> -->
<!-- 2 -->
<!-- <div class="app-student"></div> -->
<!-- 3 -->
<!-- <div app-student></div> -->
<!-- <app-test></app-test> -->
<!-- <div class="app-p1"></div> interpolation demo -->


<!-- <app-propertybinding></app-propertybinding> -->

<!-- <app-classbinding></app-classbinding> -->


<!-- <app-stylebinding></app-stylebinding> -->

<!-- <app-eventbinding></app-eventbinding> -->

<!-- <app-templatereferencevariables></app-templatereferencevariables> -->

<!-- <app-twowaydatabinding></app-twowaydatabinding> -->

<!-- <app-ifdirective-ex></app-ifdirective-ex> -->

<!-- <app-switchdirective-ex></app-switchdirective-ex> -->

<!-- <app-for-directive-ex></app-for-directive-ex> -->


<!-- <app-component-interaction-child-to-parent-vice-versa (childmesg)="message=$event" [receiver]="sender"></app-component-interaction-child-to-parent-vice-versa>
<h2>{{message}}</h2> -->

<app-pipes></app-pipes>



