<p>switchdirective-ex works!</p>
<!-- <div [ngSwitch]="choice">
    <div class="switchCase">
        <div *ngSwitchCase="'one'">
            one
        </div>
        <div *ngSwitchCase="'two'">
            two
        </div>
        <div *ngSwitchCase="'three'">
            three
        </div>
        <div *ngSwitchDefault>
            default
        </div>
    </div>
</div>  -->

<!-- <div [ngSwitch]="choice">
    <h1 *ngSwitchCase="'zaheer'">zaheer</h1>
    <h1 *ngSwitchCase="'zameer'">zameer</h1>
    <h1 *ngSwitchCase="'sohail'">sohail</h1>
    <h1 *ngSwitchCase="'thabbu'">thabbu</h1>
    <h1 *ngSwitchDefault>rabbu as a default</h1>
</div> -->

<div [ngSwitch]="choice">
    <li *ngSwitchCase="'one'">1</li>
    <li *ngSwitchCase="'two'">2</li>
    <li *ngSwitchCase="'three'">3</li>
    <li *ngSwitchDefault>default</li>
</div>